<!DOCTYPE html>
<html>
  <head>
    <title>Lottery Page</title>
    <link rel='stylesheet' href='/stylesheets/lottery.css'>
  </head>
  <body>
    <h1>
        |Lottery Page
    </h1>
    <form action="" method="post">
        <input type="submit">
    </form>
    <br>
    |#{draw}
    <br>
    |#{number1}
    <br>
    |#{number2}
    <br>
    |#{number3}
    <br>
    |#{number4}
    <br>
    |#{number5}
    <br>
    |#{number6}
    <br>
    <div>#{hash}</div>
    <br>
    <a href="/guess">
      |Guess Page
    </a>
    
    <script src="/javascripts/lottery.js" type="text/javascript"></script>
  </body>
</html>
